body{
    background-color: rgb(65, 119, 65) ;
    color: white;
}
h1{
    margin-left: 60%;
    display: flex;
    font-size: 30px;
    margin-top: 10%;
}

.line{
    margin-left: 60%;
    font-size: 100%;
    padding-right: 10px;
    margin-top: 175px;
}

img{
    margin-top: -650px;
    width: 40%;
    padding: 0%;
    display: flex;
    max-height: fit-content;

}